.shop__wrap {
  max-width: 970px;
  margin: 0 auto;

  .shop__head {
    padding: 24px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 32px;

    @include MQ(l-tablet) {
      padding: 16px;
      margin-bottom: 24px;
    }
  }

  .shop__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E2E2E2;

    @media (max-width: 450px) {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }
  }

  .shop__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;

    @include MQ(l-tablet) {
      gap: 8px;
    }

    .filter__item {
      font-size: 13px;
      line-height: 150%;
      text-decoration: none;
      display: block;
      padding: 10px 23px;
      border: 1px solid #F2F2F2;
      border-radius: 10px;
      color: #3C3C3C;
      transition: .2s;
      cursor: pointer;

      @include MQ(l-tablet) {
        padding: 8px 15px
      }

      @media (max-width: 425px) {
        padding: 5px 12px;
      }

      &:hover {
        background: #003CAA;
        color: white;
      }

      &.active {
        background: #003CAA;
        color: white;
      }
    }
  }

  .shop__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 40px;

    @include MQ(m-tabled) {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }

    @media (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .grid__item {
    border-radius: 10px;
    overflow: hidden;
    background: white;
  }

  .shop__img {
    height: 200px;

    @include MQ(l-tablet) {
      height: 150px;
    }

    @media (max-width: 450px) {
      height: 180px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .grid__item-info {
    padding: 8px 16px 20px;

    @include MQ(l-tablet) {
      padding: 8px 10px
    }

    &.news__item-info {
      padding-top: 16px;

      @include MQ(l-tablet) {
        padding: 8px 10px
      }
    }
  }

  .grid__item-date {
    font-size: 12px;
    line-height: 175%;
    color: #959CA4;
    margin-bottom: 10px;
  }

  .shop__item-head {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: left;
    margin-bottom: 8px;
  }

  .shop__item-img {
    width: 40px;
    height: 40px;
    border: 1px solid #F1F4FE;
    border-radius: 10px;
    overflow: hidden;

    @include MQ(l-tablet) {
      width: 30px;
      height: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .shop__item-ttl {
    font-weight: bold;
    color: #302F2F;
  }

  .shop__item-text {
    font-size: 13px;
    line-height: 140%;
    color: #666666;
  }

  .news__item-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #1D1D1D;

    @include MQ(phone) {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .shop__more-wrap {
    text-align: center;

    .shop__more {
      text-decoration: none;
      padding: 11px 30px;
      font-weight: bold;
      font-size: 14px;
      line-height: 150%;
      color: #FFFFFF;
      background: #003CAA;
      border-radius: 10px;
      transition: .2s;

      &:hover {
        background: rgba(0, 30, 130, 1);
      }
    }
  }
}